
@{
    ViewData["Title"] = "ConfirmationOrder";
}

<h2> Thank you! Your order will soon arrive. </h2>

<p>
    Total due : CHF @ViewBag.total.-
</p>
<p>
    Delivery will be made at @ViewBag.dat
</p>


