@model IEnumerable<DataTransferObject.Restaurant>

@{
    ViewData["Title"] = "GetAllRestaurantsFromCity";
}

<h2>All the restaurants in your area :</h2>


<table class="table">


    @foreach (var item in Model)
    {


    <div class="card mb-sm-3">
        <h2 class="card-header">@Html.DisplayFor(modelItem => item.name)</h2>
        <div class="card-body">
            <h5 class="card-title">@Html.ActionLink("Menu", "Details", new {  id=item.IdRestaurant }) </h5>

        </div>
    </div>
            }


