@model IEnumerable<DataTransferObject.Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}

<h2>All the restaurants in your area :</h2>

<br/>


<table class="table">


    @foreach (var item in Model)
    {


        <div class="card border-primary style="max-width: 20rem;">
            <h2 class="card-header">@Html.DisplayFor(modelItem => item.name) </h2>
            <div class="card-body">
                <h4 class="card-title">@Html.ActionLink("Menu", "GetRestaurantDishes", new { id = item.IdRestaurant }) </h4>

            </div>
        </div>


    }

    <br />
    <button class="btn btn-primary" href="javascript:void(0);" onclick="history.go(-1);">Back</button>
