@model IEnumerable<DataTransferObject.Restaurant>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron">
        <h1 class="display-3">VsEat, eat well, eat Valaisan</h1>
        <p class="lead">Enter your city code there and we'll bring you to the best restaurants in your area!</p>
        <hr class="my-4">


            @using (@Html.BeginForm("GetAllRestaurantsFromCity", "Restaurant", FormMethod.Post))
            {
                <form class="form-inline my-2 my-lg-0" action="GetAllRestaurantsFromCity" method="POST" placeholder="City code">
                    <input class="form-control mr-sm-2" type="text" name="id">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>

                </form>
            }



    </div>


    <p>
        <img src="~/images/LogoVsEat.PNG" alt="Microsoft Azure" class="img-responsive" />
    </p>