@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>VS Eat is a project realised by the students Alexandre Piguet and Alex Berthouzoz during the 2019-2020 autumn semester of the Hes-So Valais / Wallis, in the context of the module 623-1 Software Development - teachers : Antoine Widmer & Alain duc.  </p>
