@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vs Eat<br />
    <br />
    Hes-So Valais-Wallis
    <br />
    Rte de la Plaine 2
    <br />
    3960 Sierre (Switzerland)
</address>

<address>
    <strong>Alex Berthouzoz, Co-founder:</strong> <a href="mailto:alex.berthouzoz@students.hevs.ch">alex.berthouzoz@students.hevs.ch</a><br />
    <strong>Alexandre Piguet, Co-founder:</strong> <a href="mailto:alexandre.piguet@students.hevs.ch">alexandre.piguet@students.hevs.ch</a>
</address>
