@{
    ViewData["Title"] = "Create an account";
}
    <body>
        <h2>@ViewData["Message"]</h2>

            <form action="/action_page.php">
                Login<br>
                <input type="text" name="login" value="">
                <br>
                Password<br>
                <input type="password" name="password" value="">
                <br>
                Confirm your password<br>
                <input type="password" value="">
                <br>
                Full name<br>
                <input type="text" value="">
                <br>
                Street name<br>
                <input type="text" value="">
                <br>
                Street code<br>
                <input type="text" value="">
                <br>
                Street name<br>

                <br><br>
                <input type="submit" value="Create an account">


            </form>
        </body>
