@{
    ViewData["Title"] = "LogIn";
}
    <body>
        <h2>@ViewData["Message"]</h2>



        <form action="/action_page.php" >
            Login:<br>
            <input type="text" name="login" value="">
            <br>
            Password:<br>
            <input type="password" name="password" value="">
            <br><br>
            <input type="submit" value="Log In">
        </form>

        <p>Pour avoir une action -> changer le "form action="/action_page.php"</p>

    </body>
